.skip_to_content_outer_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000;
  padding: 0px;
  overflow: hidden;
  transition: all 200ms ease;
}
.skip_to_content_outer_container:focus{
  height: 100px;
  padding: 10px;
}
