.todo_app_outer_container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.todo_app_title{
  
}
.todo_app_date{
  
}

.todo_app_input_controls_container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
}
.todo_app_add_task_input{
  height: 80px;
  width: 100%;
  border: solid 1px var(--cmf);
  padding: 10px;
}
.todo_app_add_task_button{
  background: var(--cmf);
  color: var(--cmb);
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.todo_app_ordered_list{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: solid 1px var(--cmf);
}

.new_task_container{
  display: flex;
  gap: 15px;
  border: solid 1px var(--cmf);
  padding: 10px;
}
.new_task_item_number{
  background: green;
  color: white;
  padding: 10px;
}
.new_task_data_items_container{
  display: flex;
  flex-direction: column;
}
.new_task_text{
}
.new_task_date_and_delete_button_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.new_task_time{
  font-size: 12px;
}
.new_task_delete_button{
  background: red;
  color: #fff;
  font-size: 12px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}